[submodule "vendor/gopkg.in/mgo.v2"]
	path = vendor/gopkg.in/mgo.v2
	url = git@github.com:go-mgo/mgo.git
[submodule "vendor/github.com/gorilla/mux"]
	path = vendor/github.com/gorilla/mux
	url = git@github.com:gorilla/mux.git
[submodule "vendor/github.com/gorilla/context"]
	path = vendor/github.com/gorilla/context
	url = git@github.com:gorilla/context.git
[submodule "vendor/github.com/pborman/uuid"]
	path = vendor/github.com/pborman/uuid
	url = git@github.com:pborman/uuid.git
[submodule "vendor/github.com/prometheus/client_golang"]
	path = vendor/github.com/prometheus/client_golang
	url = git@github.com:prometheus/client_golang.git
[submodule "vendor/github.com/prometheus/procfs"]
	path = vendor/github.com/prometheus/procfs
	url = git@github.com:prometheus/procfs.git
[submodule "vendor/github.com/prometheus/client_model"]
	path = vendor/github.com/prometheus/client_model
	url = git@github.com:prometheus/client_model.git
[submodule "vendor/code.google.com/p/goprotobuf"]
	path = vendor/code.google.com/p/goprotobuf
	url = git@github.com:golang/protobuf.git
[submodule "vendor/github.com/matttproud/golang_protobuf_extensions"]
	path = vendor/github.com/matttproud/golang_protobuf_extensions
	url = git@github.com:matttproud/golang_protobuf_extensions.git
[submodule "vendor/github.com/golang/protobuf"]
	path = vendor/github.com/golang/protobuf
	url = git@github.com:golang/protobuf.git
[submodule "vendor/github.com/beorn7/perks"]
	path = vendor/github.com/beorn7/perks
	url = git@github.com:beorn7/perks.git
[submodule "vendor/bitbucket.org/ww/goautoneg"]
	path = vendor/bitbucket.org/ww/goautoneg
	url = git@github.com:paralin/goautoneg.git
[submodule "vendor/github.com/prometheus/common"]
	path = vendor/github.com/prometheus/common
	url = git@github.com:prometheus/common.git
